.overlay {
	@extend %absolutely-anchored;
	@extend %fullsize;
	background: $color-background;

	&:not(.active) { opacity: 0; }
}

/* === Screen width message === */
.screen-width-wrapper {
	width: 100%;
	max-width: 22em;
}

.screen-width-art {
	width: 131px;
	height: 117px;
	margin-bottom: 1em;
	background-size: 131px;

	&.mac { background-image: image-url("width-error-mac.png", false, false); }
	&.win { background-image: image-url("width-error-win.png", false, false); }
}

.screen-width-instructions {
	width: 94px;
	margin-top: 1em;
	background-size: 94px;

	&.mac {
		height: 45px;
		background-image: image-url("width-error-instructions-mac.png", false, false);
	}
	&.win {
		height: 56px;
		background-image: image-url("width-error-instructions-mac.png", false, false);
	}
}
@include retina {
	.screen-width-instructions.mac { background-image: image-url("width-error-instructions-mac@2x.png", false, false); }
	.screen-width-instructions.win { background-image: image-url("width-error-instructions-win@2x.png", false, false); }
	.screen-width-art.mac { background-image: image-url("width-error-mac@2x.png", false, false); }
	.screen-width-art.win { background-image: image-url("width-error-win@2x.png", false, false); }
}

/* === Server errors === */
.server-error-image-404 {
	width: 115px;
	height: 157px;
	margin-right: 1em;
	background-image: image-url("404@2x.png", false, false);
	background-size: 115px;
}
.server-error-image-403 {
	width: 84px;
	height: 88px;
	background-image: image-url("403@2x.png", false, false);
	background-size: 84px;
}
.server-error-message { max-width: 28em; }

/* === Tips === */
.tip {
	@extend %absolutely-anchored;
	font-size: .8em;

	&::before {
		@extend %column-pseudo;
		position: absolute;
		background: darken($color-outline, 13%);
		border-radius: 3px;
	}

	$size-tip-offset: 8px;

	&.top::before,
	&.bottom::before {
		left: 10px;
		width: 2px;
	}
	&.top {
		padding-bottom: $size-tip-offset;
		
		&::before {
			bottom: 0;
			height: 8px;
		}
	}
	&.bottom {
		padding-top: $size-tip-offset;

		&::before {
			top: 0;
			height: 6px;
		}
	}

	&.right::before,
	&.left::before {
		top: .55em;
		width: 8px;
		height: 2px;
	}
	&.right {
		padding-left: $size-tip-offset + 4;
		
		&::before { left: 0; }
	}
	&.left {
		padding-right: $size-tip-offset + 4;
		
		&::before { right: 0; }
	}
}