.sa-sptc {
    width: 111px;
    height: 35px;
}

.s-sptc {
    background-image: image-url("showcases/s-sptc.png", false, false);
    background-size: 238px 35px;

    // Elements
    &.se-plate {
        top: 0;
        width: 110px;
        height: 35px;
        background-position: -111px 0;
    }

    &.se-s,
    &.se-p,
    &.se-t,
    &.se-c {
        top: 11px;
        width: 4px;
        height: 14px;
    }
    &.se-s {
        left: 45px;
        background-position: -221px 0;
    }
    &.se-p {
        left: 50px;
        background-position: -225px 0;
    }
    &.se-t {
        left: 55px;
        background-position: -229px 0;
    }
    &.se-c {
        left: 60px;
        width: 5px;
        background-position: -233px 0;
    }
}

@include keyframes(sptc-in) {
    0% {
        @include transform(translate3d(0,30px,0));
    }
    100% { opacity: 1; }
}
.animate-sptc-in { @include animation(sptc-in $duration-art * 2 $easing-cubic-rough forwards); }