@import "shared/vars";

$project: "brapp";
$project-path: "projects/" + $project + "/";

.brapp-tldr {
    width: 770px;
    height: 762px;
    margin-left: $size-grid-column * -1;
    background: image-url($project-path + "tldr.png", false, false) no-repeat;
    background-size: 770px 762px;
}

// Retina
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .brapp-tldr { background-image: image-url($project-path + "tldr@2x.png", false, false); }
}