@import "shared/vars";
@import "shared/mixin";

$project: "bremail";
$project-path: "projects/" + $project + "/";

.bremail-tldr {
    width: 770px;
    height: 1637px;
    margin-left: $size-grid-column * -1;
    background: image-url($project-path + "tldr.png", false, false) no-repeat;
    background-size: 770px 1637px;
}

// Retina
@include retina {
    .bremail-tldr { background-image: image-url($project-path + "tldr@2x.png", false, false); }
}