@import "shared/vars";
@import "shared/mixin";

$project: "ios710";
$project-path: "projects/" + $project + "/";

.ios710-tldr {
	width: 770px;
	height: 762px;
	background: image-url($project-path + "tldr.png", false, false) no-repeat;
	background-size: 770px 762px;
}

// Retina
@include retina-cross {
	.ios710-tldr { background-image: image-url($project-path + "tldr@2x.png", false, false); }
}