@import "shared/vars";
@import "shared/mixin";

$project: "webfyr";
$project-path: "projects/" + $project + "/";

.webfyr-tldr {
    width: 765px;
    height: 576px;
    margin-left: $size-grid-column * -1;
    background: image-url($project-path + "tldr.png", false, false) no-repeat;
    background-size: 765px 576px;
}

// Retina
@include retina {
    .webfyr-tldr { background-image: image-url($project-path + "tldr@2x.png", false, false); }
}