@import "shared/vars";
@import "shared/mixin";

$project: "whenbus";
$project-path: "projects/" + $project + "/";

.whenbus-tldr {
    width: 765px;
    height: 762px;
    margin-left: $size-grid-column * -1;
    background: image-url($project-path + "tldr.png", false, false) no-repeat;
    background-size: 765px 762px;
}

// Retina
@include retina {
    .whenbus-tldr { background-image: image-url($project-path + "tldr@2x.png", false, false); }
}