/* ======= General ======= */
.blocked { overflow-y: hidden !important; } // Preventing page scroll when being/starting inside project

/* ======= Header ======= */
.home-navigation {
	margin-top: 3rem;
	@extend .centered;
}
.home-navigation-item {
	// Padding coz mouseout is being triggered to UL
	&:not(:first-child) {
		padding-left: $space * 4;
	}

	&.active,
	&:focus {
		.home-navigation-link { color: $color-main-light; }
	}
}
.home-navigation-link {
	display: block;
	padding-bottom: .35rem;
	@extend %navigation-button;
}

.strip {
	position: relative;
	height: 2px;
	background: $color-outline;

	&:first-child { margin-bottom: $size-grid-gutter; }
	&:last-child { margin-top: $size-grid-gutter; }
}
.navline {
	position: absolute;
	height: 100%;
	background: $color-main-ultra;
	@include transition-with-transform(width, $duration $easing-cubic);
}

/* ======= Project Showcases ======= */
.showcases {
	height: $size-grid-row * 3 + ($size-grid-gutter * 2);
	line-height: 0;
	@include perspective(800px);
}

$strip-button-width: 8px;
$strip-button-height: 5px;

.strip-button {
	position: absolute;
	top: -18px;
	width: 30px;
	height: 30px;
	right: 0;
	cursor: pointer;
	
	&.active .strip-button-content::before { @include transform(rotateZ(180deg)); }
	&.disabled {
		pointer-events: none;

		.strip-button-content {
			@include transform(scaleX(0));

			&::before { @include transform(scale(0)); }
		}
	}
}
.strip-button-content {
	position: absolute;
	bottom: 9px;
	right: 8px;
	width: $strip-button-width + (3px * 2);
	height: $strip-button-height;
	background: $color-background;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 3px;
		width: $strip-button-width;
		height: $strip-button-height;
		background-position: $size-ui-sprite * -1 $size-ui-sprite * -1;
		@extend .transformable-rough;
	}
}

.showcases-menu {
	height: 0;
	font-size: .9em;
	overflow: hidden;
	text-align: right;
	@include transition(height $duration $easing-cubic-rough);

	&.active { height: 2.4em; }
}

.filter-item {
	padding: .2em .9em;
	border-radius: 99rem;
	@extend %navigation-button;
	font-size: .85em;
	cursor: pointer;

	&:focus,
	&:hover { color: $color-main-light; }
	&.active {
		background: lighten($color-main-light, 20%);
		color: $color-main-light;
	}
}

// .showcase components are in components/showcase.scss

/* ======= Teaserline ======= */
.teaserline {
	&.bottom { height: 30px; }
	&.top { height: 144px; }
}

/* ======= Footer ======= */
.footer { @extend .centered; }

.home-footer { margin-top: $space * 8; }

// Pages off animation when navigating into project
.pages.off { @include transform(translate3d(0,50%,0));  }