/* ======= General ======= */
.blocked { overflow: hidden; } // Preventing page scroll when being/starting inside project

/* ======= Header ======= */
.home-navigation {
	margin-top: 3rem;
	text-transform: uppercase;
	@extend .centered;
}
.home-navigation-item {
	// Padding coz mouseout is being triggered to UL
	&:not(:first-child) {
		margin-left: 0;
		padding-left: $space * 4;
	}

	&.active,
	&:focus {
		.home-navigation-link { color: $color-main-light; }
	}
}
.home-navigation-link {
	display: block;
	padding-bottom: .35rem;
	color: lighten($color-text, 60%);
}

.strip,
.teaserline::before,
.teaserline-tag { background: #f3f3f3; }
.strip {
	position: relative;
	height: 2px;
	margin: $size-grid-gutter 0;    
}
.navline {
	position: absolute;
	height: 100%;
	background: #d2d9f1;
	@include transition-with-transform(width, $duration $easing-cubic);
}

.strip-header { margin-top: 0; }

/* ======= Project Showcases ======= */
.showcases {
	height: $size-grid-row * 3 + ($size-grid-gutter * 2);
	line-height: 0;
	@include perspective(800px);
}

// .showcase components are in components/showcase.scss

/* ======= Teaserline ======= */
.teaserline {
	&.bottom { height: 30px; }
	&.top { height: 145px; }
}

/* ======= Footer ======= */
.footer { @extend .centered; }

.home-footer {
	margin-top: $space * 8;
	font-size: .85rem;
}

.justified {
	text-align: justify;
	text-align-last: justify;

	&::after {
		content: "";
		display: inline-block;
		width: 100%;
	}
}

// Pages off animation when navigating into project
.pages.off {
	@include transform(translate3d(0,50%,0)); 
}