/* ======= Base ======= */
.project {
	@extend %absolutely-anchored;
	@extend %fullsize;
	overflow: auto;
	
	&:not(.active) { z-index: -1; }
}
.project-artwork { position: absolute; }

/* ======= Header ======= */
$size-project-header: $size-grid-row * 2;
.project-header {
	position: relative;
	height: $size-project-header;
	overflow: hidden;
	@extend .centered;
	
	&.colored::after {
		content: "";
		@extend %absolutely-anchored-bottom-fullwidth;
		height: 1px;
		background: rgba(0,0,0,.08);
	}
}

.ripple {
	@extend %column-raw;
	width: $size-project-header;
	height: $size-project-header;
	border-radius: 100%;
	@include transform(translate3d(0,30px,0) scale(0));
}

.project-title {
	position: absolute;
	bottom: .7em;
	width: 100%;
	font-size: 1.3rem;
	opacity: .6;
}

.back-button {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1em 2em 2em 1em;
	cursor: pointer;
	z-index: 1;

	&::before {
		content: "";
		@extend %sprited;
		background-position: 0 $size-ui-sprite * -1;
	}

	&:hover,
	&:focus { @include transform(translate3d(-5px,0,0)); }

	&:active { @include transform(translate3d(-5px,0,0) scale(.9)); }
}

/* ======= Preface ======= */
.project-summary {
	width: $size-grid-column * 3 + $size-grid-gutter * 3;
	margin: 2rem auto;
}
.project-meta {
	height: 3.5em;
	@include columns(2);

	dt { width: 3em; }
	dd {
		width: 17em;

		&:nth-child(4) { margin-bottom: 0 }
	}
}

$space-synopsis: 2rem;
.project-story {
	@include display-flex();
	margin: $space-synopsis auto;
}
.project-synopsis {
	@include flex(0 1 auto);
	margin: 0;
	padding-right: 1em;
	@include borderbox();
}
.project-synopsis,
.project-button { @include flex-align-self(center); }

.project-button {
	@include flex(1 0 auto);
	padding: .4rem 1rem;
	border-radius: 3px;
	border: 2px solid;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: .05em;

	&.dead {
		color: $color-text-light !important;
		border-style: dotted;

		&::before {
			@extend %column-pseudo-middle;
			width: 15px;
			height: 15px;
			margin-right: $space - .1;
			background-position: 0 $size-ui-sprite * -2;
		}
	}

	&:not(.dead) {
		&:hover,
		&:focus { @include transform(scale(1.03) rotateZ(-.5deg)); }

		&:active { @include transform(rotateZ(-.8deg)); }
	}
}

.project-separator {
	width: 20px;
	height: 20px;
	margin: $space-synopsis * 3 auto;
}
.project-preface-image { margin: 0 auto; }

/* ======= Content ======= */
$i: 5;
$section-width: ($size-grid-column / 2 * $i) + ($size-grid-gutter * ($i - 1));

.project-content {
	h2 {
		margin-top: 2em;
		font-size: 1.1rem;
	}
	h3 { margin-top: 1.5em; }

	h2,
	h3 {
		margin-bottom: 0;
	
		& + p { margin-top: .3rem; }
	}

	code {
		font-family: Menlo;
		background: $color-outline;
		padding: .1rem .2rem;
		border-radius: 2px;
		font-size: .9em;
	}
	.code-snippet {
		display: block;
		padding: .6rem .7rem;
	}
	
	.column-imaged { margin-top: .5em; }
}

.project-section {
	width: $section-width;
	margin: 2rem auto;
}
.project-column { width: ($section-width - $size-grid-gutter) / 2; }

.project-figure {
	margin: .5rem auto;
	
	&.with-caption {
		position: relative;
		margin-bottom: 4.5em;
	}
}
.project-figcaption {
	position: absolute;
	bottom: -2.4em;
	width: 100%;
	font-size: .9em;
	text-align: center;
	font-style: italic;
	opacity: .5;

	.project-video & { bottom: -1.9em; }
}

.project-video {
	width: 644px;

	iframe {
		display: block;
		margin: 0 auto;
	}
}
.project-video,
.project-video-inline { margin: 0 auto; }
.column-video { width: 300px; }
.project-video-inline,
.project-video-inline video { max-width: 244px; }

.figure-ios {
	width: 320px;
	background-size: 320px;
}

/* ======= Reusable Cues ======= */
.project-cue {
	position: relative;

	&:not(:first-child) { margin-top: $space; }

	&::before {
		// content: counter(li);
		// counter-increment: li;
		// padding: .2em .6em;
		content: "";
		@extend %sprited;
		border-radius: 100%;
	}
}
.project-cue-standalone::before { margin: 2.5rem auto; }
.project-cue-bullet::before {
	position: absolute;
	left: -2rem;
	margin-top: -0.05rem;
}

.project-conclusion {
	padding: 1em;
	border-radius: .3em;
	@extend %colored-bordered-box;
	background: lighten($color-main-light, 22%);
	color: desaturate($color-main, 10%);

	p { margin: 0; }
}

$i: 0;
@each $item in problem, goal, result, success {
	.project-cue-#{$item}::before { background-position: $i * $size-ui-sprite * -1 -66px; }
	
	$i: $i + 1;
}
.project-cue-nested { padding: .7rem 2rem 0; }

/* ======= Team ======= */
$size-team-member: 17px;
.project-team-member {
	width: $size-team-member;
	height: $size-team-member;
	margin-top: .15em;
	@include text-replacement();
	background: image-url("team.jpg", false, false) no-repeat;
	background-size: 85px;
	border-radius: 100%;

	&:not(:first-child) { margin-left: .3em; }
}
$i: 0;
@each $member in gal, kobi, gil, tomer, michael {
	.member-#{$member} { background-position: $i * $size-team-member * -1 0; }
	
	$i: $i + 1;
}
.project-team-member-link { display: block; }

@include retina {
	.project-team-member { background-image: image-url("team@2x.jpg", false, false); }
}

/* ======= Footer ======= */
.project-footer-actions {
	// Specificifty override
	.contact-link-email { @extend %column-raw; }
}
.project-footer-section {
	margin: 1em auto 1.2em;

	&:last-child { margin-bottom: 6rem; }
}

.project-email-link { margin-left: .2em; }
.project-email-link-text { margin-left: .4em !important; } // Specificityyyyy