$project: "brguide";

.sa-#{$project} {
	width: 84px;
	height: 113px;
}

.s-#{$project} { @include showcase-image($project, 197px); }

// Elements
.s-#{$project}-paper {
	top: 2px;
	left: 2px;
	width: 78px;
	height: 104px;
	background: #fff;

	&.p2 { top: 5px; }
	&.p1 { top: 8px; }
}

.s-#{$project}-ribbon-h {
	top: 50px;
	left: -1px;
	width: 83px;
	height: 9px;
	background-position: -94px 0;

	&.animate-#{$project}-ribbon-in { @include animation(pop-in $duration-art * 2 $easing-cubic-rough forwards); }
}
.s-#{$project}-ribbon-v {
	top: 0;
	left: 35px;
	width: 10px;
	height: 110px;
	background-position: -84px 0;

	&.animate-#{$project}-ribbon-in { @include animation(pop-in $duration-art * 2 $easing-cubic-rough forwards); }
}
.s-#{$project}-note-br {
	top: 44px;
	left: 30px;
	width: 19px;
	height: 20px;
	background-position: -94px -9px;
}
.s-#{$project}-note {
	top: 60px;
	left: 20px;
	width: 39px;
	height: 16px;
	background-position: -94px -29px;
}

// @include keyframes(#{$project}-ribbon-h-in) {
// 	0% { @include transform(scaleX(0)); }
// 	100% { opacity: 1; }
// }
// @include keyframes(#{$project}-ribbon-v-in) {
// 	0% { @include transform(scaleY(0)); }
// 	100% { opacity: 1; }
// }

.i-#{$project} { background-position: -177px 0; }

.s-#{$project}-candy { background-image: image-url("showcases/s-#{$project}-candy@2x.png", false, false); }