$project: "brmenu";

.sa-#{$project} {
	width: 31px;
	height: 102px;
}

.s-#{$project} { @include showcase-image($project, 85px); }

// Elements
.s-#{$project}-button1,
.s-#{$project}-button2,
.s-#{$project}-button3 {
	left: 0;
	width: 31px;
	height: 32px;
}
.s-#{$project}-button1 {
	bottom: -2px;
	background-position: -31px 0;
}
.s-#{$project}-button2 {
	bottom: 38px;
	background-position: -31px -32px;
}
.s-#{$project}-button3 {
	bottom: 72px;
	background-position: -31px -64px;
}

.s-#{$project}-button1-icon {
	bottom: 7px;
	left: 14px;
	height: 14px;
	width: 3px;
	background-position: -62px 0;

	// Post state
	.post & { @include transform(rotateZ(-90deg) translate3d(0,0,0)); }
}

@include keyframes(#{$project}-rotate) {
	0% { opacity: 1; }
	100% {
		opacity: 1;
		@include transform(rotateZ(-90deg) translate3d(0,0,0));
	}
}
.animate-#{$project}-rotate { @include animation(#{$project}-rotate $duration-art $easing-cubic-rough forwards); }

.i-#{$project} { background-position: -65px 0; }