.sa-bucketlist {
	width: 74px;
	height: 74px;
}

.s-bucketlist {
	background-image: image-url("showcases/s-bucketlist.png", false, false);
	background-size: 203px 74px;

	// Elements
	&.se-ios-app { overflow: hidden; }

	&.se-rope {
		top: -14px;
		left: 35px;
		width: 2px;
		height: 28px;
		background-position: -146px 0;
	}

	&.se-handle {
		top: 12px;
		left: 19px;
		width: 35px;
		height: 18px;
		background-position: -148px 0;
		@include animation-duration($duration-art * 1.7);
	}

	&.se-bucket {
		top: 24px;
		left: 20px;
		width: 33px;
		height: 34px;
		background-position: -148px -18px;
		@include animation-duration($duration-art * 1.8);
	}
}

@include keyframes(bucket-in) {
	0% {
		opacity: 1;
		@include transform(translate3d(0,-68px,0));
	}
	
	90%,
	100% {
		opacity: 1;
		@include transform(none);
	}
}
.animate-bucket-in { @include animation(bucket-in $duration-art * 1.5 $easing-cubic-rough forwards); }

.i-bucketlist { background-position: -183px 0; }

.s-bucketlist-candy { background-image: image-url("showcases/s-bucketlist-candy@2x.png", false, false); }

@include retina {
    .s-bucketlist { background-image: image-url("showcases/s-bucketlist@2x.png", false, false); }
}