$project: bucketlist;

.sa-#{$project} {
	width: 74px;
	height: 74px;
}

.s-#{$project} { @include showcase-image($project, 203px); }

// Elements
.s-#{$project}-ios-app { overflow: hidden; }

.s-#{$project}-rope {
	top: -14px;
	left: 35px;
	width: 2px;
	height: 28px;
	background-position: -146px 0;
}

.s-#{$project}-handle {
	top: 12px;
	left: 19px;
	width: 35px;
	height: 18px;
	background-position: -148px 0;
	@include animation-duration($duration-art * 1.7);
}

.s-#{$project}-bucket {
	top: 24px;
	left: 20px;
	width: 33px;
	height: 34px;
	background-position: -148px -18px;
	@include animation-duration($duration-art * 1.8);
}

@include keyframes(bucket-in) {
	0% {
		opacity: 1;
		@include transform(translate3d(0,-68px,0));
	}
	
	90%,
	100% {
		opacity: 1;
		@include transform(none);
	}
}
.animate-bucket-in { @include animation(bucket-in $duration-art * 1.5 $easing-cubic-rough forwards); }

.i-#{$project} { background-position: -183px 0; }

.s-#{$project}-candy { background-image: image-url("showcases/s-#{$project}-candy@2x.png", false, false); }