$project: "brapp";

.sa-#{$project} {
	width: 74px;
	height: 74px;
}

.s-#{$project} { @include showcase-image($project, 166px); }

// Elements
.s-#{$project}-frame {
	top: 12px;
	left: 12px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: none;
	@include borderbox();
	border: 25px solid #fff;

	// Post state
	.post & { border-width: 2px; }
}

.s-#{$project}-circle1,
.s-#{$project}-circle2,
.s-#{$project}-circle3 {
	left: 34px;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	background: #fff;
}
.s-#{$project}-circle1 {
	top: 25px;

	&.animate-#{$project}-circle-in { @include animation(#{$project}-circle1-in $duration-art * 2 $easing-cubic-rough forwards); }
}
.s-#{$project}-circle2 {
	top: 34px;

	&.animate-#{$project}-circle-in { @include animation(pop-in $duration-art * 2 $easing-cubic-rough forwards); }
}
.s-#{$project}-circle3 {
	top: 43px;

	&.animate-#{$project}-circle-in { @include animation(#{$project}-circle2-in $duration-art * 2 $easing-cubic-rough forwards); }
}

@include keyframes(#{$project}-frame-in) {
	0% { @include transform(scale(.8)); }
	100% {
		opacity: 1;
		border-width: 2px;
	}
}
.animate-#{$project}-frame-in { @include animation(#{$project}-frame-in $duration-art * 3 $easing-cubic-rough forwards); }

@include keyframes(#{$project}-circle1-in) {
	0% { @include transform(scale(.8) translate3d(0,9px,0)); }
		
	90% {
		opacity: 1;
		@include transform(scale(1.05));
	}
	100% { opacity: 1; }
}
@include keyframes(#{$project}-circle2-in) {
	0% { @include transform(scale(.8) translate3d(0,-9px,0)); }
		
	90% {
		opacity: 1;
		@include transform(scale(1.05));
	}
	100% { opacity: 1; }
}

.i-#{$project} { background-position: -146px 0; }

.s-#{$project}-candy { background-image: image-url("showcases/s-#{$project}-candy@2x.png", false, false); }