.sa-ios8kit {
	width: 120px;
	height: 101px;
}

.s-ios8kit {
	background-image: image-url("showcases/s-ios8kit.png", false, false);
	background-size: 283px 101px;

	// Elements
	&.se-ui {
		width: 120px;
		height: 101px;
		background-position: -120px 0;
	}

	&.se-badge {
		left: 48px;
		bottom: -10px;
		width: 23px;
		height: 23px;
		background-position: -240px 0;
	}
}

.i-ios8kit { background-position: -263px 0; }

.s-ios8kit-candy { background-image: image-url("showcases/s-ios8kit-candy@2x.png", false, false); }

@include retina {
    .s-ios8kit { background-image: image-url("showcases/s-ios8kit@2x.png", false, false); }
}