.sa-ios710 {
	width: 122px;
	height: 64px;
}

.s-ios710 {
	background-image: image-url("showcases/s-ios710.png", false, false);
	background-size: 658px;

	// Elements
	// Mail
	&.se-mail-base,
	&.se-reminders-base,
	&.se-messages-base {
		top: 0;
		width: 66px;
		height: 64px;
	}
	&.se-mail-base {
		right: -2px;
		background-position: -122px 0;
	}
	&.se-mail-frame {
		top: 2px;
		right: 1px;
		width: 60px;
		height: 60px;
		background-position: -188px 0;
	}
	&.se-mail-wrapper {
		top: 2px;
		right: 1px;
		width: 60px;
		height: 60px;
		border-radius: 16px;
		overflow: hidden;
		background: none;
		opacity: 1 !important;
	}

	&.se-mail-cloud1 {
		bottom: 0;
		left: 0;
		width: 60px;
		height: 30px;
		background-position: -248px 0;
	}
	&.se-mail-cloud2 {
		bottom: 0;
		left: 0;
		width: 60px;
		height: 22px;
		background-position: -248px -30px;
	}

	&.se-mail-stamp {
		bottom: -8px;
		right: -8px;
		width: 41px;
		height: 41px;
		background-position: -308px 0;
	}

	// Reminders
	&.se-reminders-base {
		left: 28px;
		background-position: -349px 0;
	}
	&.se-reminders-paper2 {
		top: 0;
		left: 31px;
		width: 60px;
		height: 61px;
		background-position: -415px 0;
	}
	&.se-reminders-paper3 {
		top: 0;
		left: 31px;
		width: 60px;
		height: 59px;
		background-position: -475px 0;
	}
	&.se-reminders-dot {
		top: 15px;
		left: 43px;
		width: 5px;
		height: 5px;
		background-position: -475px -59px;
	}

	// Messages
	&.se-messages-base {
		left: -3px;
		background-position: -535px 0;
	}
	&.se-messages-bubble {
		top: 17px;
		left: 12px;
		width: 37px;
		height: 32px;
		background-position: -601px 0;
	}
}

@include keyframes(ios710-cloud-in) {
	0% {
		@include transform(translate3d(-4px,0,0));
	}
	100% { opacity: 1; }
}
.animate-ios710-cloud-in { @include animation(ios710-cloud-in $duration $easing-cubic-rough forwards); }

@include keyframes(ios710-stamp-in) {
	0% {
		@include transform(scale(1.5) rotateZ(-30deg));
	}
	100% { opacity: 1; }
}
.animate-ios710-stamp-in { @include animation(ios710-stamp-in $duration-quick $easing-cubic-rough forwards); }

.i-ios710 { background-position: -638px 0; }