$project: "rsvp";

.sa-#{$project} {
	width: 126px;
	height: 116px;
}

.s-#{$project} { @include showcase-image($project, 271px); }

// Elements
.s-#{$project}-page {
	top: 0;
	width: 125px;
	height: 85px;
	background-position: -126px 0;
}

.s-#{$project}-button {
	bottom: 1px;
	left: 46px;
	width: 35px;
	height: 26px;
	background-position: -126px -85px;
}
.s-#{$project}-checkmark {
	top: 14px;
	right: 34px;
	width: 5px;
	height: 4px;
	background-position: -161px -85px;
}

.i-#{$project} { background-position: -251px 0; }

.s-#{$project}-candy { background-image: image-url("showcases/s-#{$project}-candy@2x.png", false, false); }