$project: "whenbus";

.sa-#{$project} {
	width: 74px;
	height: 74px;
}

.s-#{$project} { @include showcase-image($project, 209px); }

// Elements
.s-#{$project}-app-icon {
	bottom: 5px;
	left: 1px;
	width: 72px;
	height: 65px;
	background-position: -74px 0;

	&.animate-#{$project}-in { @include animation(#{$project}-icon-in $duration-art $easing-cubic-rough forwards); }
	.post & { @include transform(translate3d(0,-3px,0)); }
}
.s-#{$project}-bevel {
	bottom: 5px;
	left: 1px;
	width: 72px;
	height: 25px;
	background-position: -74px -65px;

	&.animate-#{$project}-in { @include animation(#{$project}-bevel-in $duration-art $easing-cubic-rough forwards); }
	.post & { @include transform(translate3d(0,3px,0)); }
}

.s-#{$project}-bus,
.s-#{$project}-emboss {
	top: 22px;
	left: 15px;
	width: 43px;
}
.s-#{$project}-bus {
	height: 25px;
	background-position: -146px 0;
}
.s-#{$project}-emboss {
	height: 26px;
	background-position: -146px -25px;

	&.animate-#{$project}-in { @include animation(fade-in $duration-art $easing-cubic-rough forwards); }
}

@include keyframes(#{$project}-icon-in) {
	0% { opacity: 1; }
	20% { @include transform(translate3d(0,1px,0)); }
	100% {
		opacity: 1;
		@include transform(translate3d(0,-3px,0));
	}
}
@include keyframes(#{$project}-bevel-in) {
	0% { opacity: 1; }
	20% { @include transform(translate3d(0,-1px,0)); }
	100% {
		opacity: 1;
		@include transform(translate3d(0,3px,0));
	}
}

.i-#{$project} { background-position: -189px 0; }