<div class="teaserline teaserline-home top">
	<div class="teaserline-tag-wrapper teaserline-tag-project"><span class="teaserline-tag">Things you can do with this page</span></div>
</div>
<div class="project-footer-section project-footer-actions column-2 centered">
	<p>Share it with other people like we used to do back</br> then when there were no "f" and bird buttons.</p>
	<p><span class="column column-mid">Or maybe just</span> <a href="mailto:hey@ozzik.co?subject=SHOUT OUT&body=Hey Oz, this is me giving you a shout out. Best, Someone" class="project-email-link custom title-colored"><span class="contact-link contact-link-email column column-mid"></span><span class="column column-mid project-email-link-text linklike">give me a shout out</span></a></p>
</div>
{{#hasSimilar}}<div class="teaserline teaserline-home top">
	<div class="teaserline-tag-wrapper teaserline-tag-project"><span class="teaserline-tag">{{similarBy}}</span></div>
</div>
<ul class="project-footer-section project-footer-similar columns column-{{similarCount}}"></ul>
{{/hasSimilar}}