@mixin text-replacement() {
	text-indent: -9999em;
	overflow: hidden;
}

@mixin centered() { text-align: center; }

@mixin showcase-image($name, $size) {
	background-image: image-url("showcases/s-#{$name}.png", false, false);
	background-size: $size;
	
	@include retina { background-image: image-url("showcases/s-#{$name}@2x.png", false, false); }
}

@mixin retina-cross() {
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2) {
		@content;
	}
}