// Colors
$color-main: #685cb0;
$color-main-light: #8fa0dc;
$color-text: #323232;
$color-text-light: lighten($color-text, 50%);
$color-background: #fcfcfc;
$color-outline: #f3f3f3;

// Spaces
$space: .5em;

// Sizes
$pages: 2;
$columns: 4;
$rows: 3;

$size-grid-column: 185px;
$size-grid-row: 146px;
$size-grid-gutter: 10px;
$size-wrapper: $size-grid-column * $columns;

$size-ui-sprite: 22px;

// Z-indexes
$z-navbar: 1;

// Animation
$easing-cubic: cubic-bezier(.48,-0.18,0,1.1);
$easing-cubic-out: cubic-bezier(1, -0.18, 0, 1.1); // Smoother (exit)
$easing-cubic-rough: cubic-bezier(.5, 1, 0, 1.1); // Extreme

$duration: .4s;
$duration-slow: 1s;
$duration-slow-very: 2s;
$duration-quick: .2s;
$duration-art: .1s;