@import "vars";

/* ======= Style ======= */
body {
	margin: 0;
	background: $color-background;
	color: $color-text;
	font-size: .85em;
	line-height: 1.45;
}

body,
input,
textarea,
.meta { font-family: 'Bitter', serif; }

.titlelike,
h1,
h2,
.teaserline-tag {
	font-family: 'Cabin', serif;
	font-weight: bold;
	font-size: .95rem;
}

ul,
ol,
dl {
	margin: 0;
	padding: 0;
	list-style: none;
}
dd,
dt { display: inline-block; }
dd {
	margin-left: .35rem;

	&:not(:last-child) { margin-bottom: .35rem; }
}

/* ======= Shared ======= */
.contact-link,
.back-button::before {
	background: image-url("ui.png", false, false);

	@media only screen and (-webkit-min-device-pixel-ratio: 2) {
		background: image-url("ui@2x.png", false, false);
		background-size: 132px 88px;
	}
}

/* ======= Architecture ======= */
html,
body,
.pages { height: 100%; }

.wrapper { margin: 0 auto; }

// Pages
.pages { height: 100% * $pages; }
.page {
	position: relative;
	display: table;
	width: 100%;
	height: 100% / $pages;
}
.page-content {
	display: table-cell;
	vertical-align: middle;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: .6rem;
    line-height: 1.2;

    p:last-child { margin-bottom: 0; }
}

/* ======= Grid ======= */
.columns {
	letter-spacing: -.25rem;
}
.column {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;

	&:not(:first-child) { margin-left: $size-grid-gutter; }

	*:first-child { margin: 0; }
}
@for $i from 1 to 5 {
	.column-#{$i} { width: ($size-grid-column * $i) + ($size-grid-gutter * ($i - 1)); }
}

/* ======= Content ======= */
.va-wrapper {
	display: table;
	width: 100%;
	height: 100%;
}
.va-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.crowded { line-height: 1.25; }

.meta {
	font-size: inherit;
	text-align: right;
	line-height: 1.1;
}
.meta,
.metalike {
	font-style: italic;
	font-weight: normal;
	color: $color-text-light;
}

.teaserline {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;

	&.top { top: 0; }
	&.bottom { bottom: 0; }
	
	&::before {
		content: "";
		display: inline-block;
		width: 2px;
		height: 100%;
	}
}
.teaserline-tag-wrapper {
	position: absolute;
	top: 0;
	text-transform: uppercase;
}
.teaserline-tag {
	padding: .4em .6em;
	border-radius: 3px;
	font-size: .75rem;
	letter-spacing: .05em;
	color: darken(#f3f3f3, 20%);
}

a {
	text-decoration: none;
	
	// Every link that isn't custom (no line)
	&:not(.custom) {
		border-bottom: 1px solid;
		color: $color-main-light;
		border-color: lighten($color-main-light, 20%);
	}
}

/* ======= Transitions ======= */
.transitionable { @include transition-transform($duration $easing-cubic); }
.transitionable-rough { @include transition-transform($duration $easing-cubic-rough); }
.transitionable-rough-slow { @include transition-transform($duration * 1.5 $easing-cubic-rough); }
.transitionable-toned { @include transition-transform($duration * 1.5 ease-out); }

.widthable { @include transition(width $duration $easing-cubic-better); }
.fadable { @include transition(opacity $duration $easing-cubic-better); }

.t-out { @include transition-timing-function(ease-out !important); }
.t-normal { @include transition-duration($duration !important); }

/* ======= States ======= */
// .visible { opacity: 1 !important; }
// .hidden { display: none !important; }
.transparent { opacity: 0 !important; }
// .disabled {
// 	opacity: 0.5;
// 	filter: alpha(opacity=50);
// 	cursor: default !important;
// }
// .animation-less {
// 	-webkit-animation: none !important;
// 	-moz-animation: none !important;
// 	animation: none !important;
// }