// Buttons
@mixin text-replacement($isOverflow:"") {
	text-indent: -9999px;
	@if $isOverflow  == "overflow" {
		overflow: hidden;
	}
}

@mixin button {
	border: none;
	cursor: pointer;
}

// CSS3 support
@mixin box-shadow($values...) {
	box-shadow: $values;
	-webkit-box-shadow: $values;
}

@mixin transform($values...) {
	transform: $values;
	-webkit-transform: $values;
	-moz-transform: $values;
	-ms-transform: $values;
}
@mixin transform-origin($values) {
	transform-origin: $values;
	-webkit-transform-origin: $values;
	-moz-transform-origin: $values;
	-ms-transform-origin: $values;
}
@mixin transform-origin-y($values) {
	transform-origin-y: $values;
	-webkit-transform-origin-y: $values;
	-moz-transform-origin-y: $values;
	-ms-transform-origin-y: $values;
}
@mixin perspective($value) {
	perspective: $value;
	-webkit-perspective: $value;
	-moz-perspective: $value;
	-ms-perspective: $value;
}

@mixin transition($values...) {
	transition: $values;
	-webkit-transition: $values;
	-moz-transition: $values;
	-ms-transition: $values;
}
@mixin transition-timing-function($value) {
	transition-timing-function: $value;
	-webkit-transition-timing-function: $value;
	-moz-transition-timing-function: $value;
}
@mixin transition-duration($value) {
	transition-duration: $value;
	-webkit-transition-duration: $value;
	-moz-transition-duration: $value;
}
@mixin transition-property($values...) {
	transition-property: $values;
	-webkit-transition-property: $values;
	-moz-transition-property: $values;
}
@mixin transition-transform($values...) {
	transition: transform $values;
	-webkit-transition: -webkit-transform $values;
	-moz-transition: -moz-transform $values;
	-ms-transition: -ms-transform $values;
}
@mixin transition-property-with-transform($values...) {
	transition-property: transform, $values;
	-webkit-transition-property: -webkit-transform, $values;
	-moz-transition-property: -moz-transform, $values;
	-ms-transition-property: -ms-transform, $values;
}

@mixin box-sizing($value) {
	box-sizing: $value;
	-moz-box-sizing: $value;
}
@mixin border-box() {
	@include box-sizing(border-box);
}

// Animation
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin animation($values) {
	-webkit-animation: $values;
	-moz-animation: $values;
	-o-animation: $values;
	-ms-animation: $values;
	animation: $values;
}
@mixin animation-delay($value) {
	animation-delay: $value;
	-webkit-animation-delay: $value;
	-moz-animation-delay: $value;
}
@mixin animation-duration($value) {
	animation-duration: $value;
	-webkit-animation-duration: $value;
	-moz-animation-duration: $value;
}

// Design
@mixin pretty-shadow() {
	@include box-shadow(0 -1px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4));
}