@import "shared/prototypes";

body {
	// min-height: 100%;
	height: auto;
	padding: 2em 1em .3em;
	@include borderbox();
	max-width: 24em;
	margin: 0 auto;
}

.about-job {
	width: 100%;
	
	.meta,
	dd {
		width: 100%;
		text-align: center;
	}
}

.about-contact-items { text-align: center; }
.contact-item:not(:first-child) { margin-left: 42px; }

.footer {
	position: relative;
	margin-top: 4rem;
}